In [1]:
# Exercício 1 - Imprima na tela os números de 1 a 10
lista = [1,2,3,4,5,6,7,8,9,10]
print (lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
lista = ['morango', 'estojo', 'notebook', 'celular', 'suco']
print (lista)

['morango', 'estojo', 'notebook', 'celular', 'suco']

In [3]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
pal1= "Olá carinha loco! "
pal2= "Tudo bem? "
pal3= pal1 + pal2
print (pal3)

Olá carinha loco! Tudo bem?

In [4]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tup = (1, 2, 2, 3, 4, 4, 4, 5)
print (tup.count(4))

3

In [5]:
# Exercício 5 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dic = {'k1':2, 'k2':3, 'k3': 4}
print (dic)
dic.items()

{'k3': 4, 'k2': 3, 'k1': 2}

[('k3', 4), ('k2', 3), ('k1', 2)]

In [6]:
# Exercício 6 - Adicione mais uma ferramenta ao dicionário criado no exercício anterior e imprima na tela
dic ['k4'] = 5
print (dic)

{'k3': 4, 'k2': 3, 'k1': 2, 'k4': 5}

In [7]:
# Exercício 7 - Crie um arquivo chamado nomes.txt no diretório onde está este notebook, grave 5 nomes no arquivo e feche-o.
arq1 = open("nomes.txt", "w")
arq1.write ("João    Maria    Leo    Victor    Fabio")
arq1.close()

In [8]:
# Exercício 8 - Abra o arquivo criado no item anterior e leia o arquivo na tela.
arq1 = open("nomes.txt", "r")
print (arq1.read())

João    Maria    Leo    Victor    Fabio

In [9]:
# Exercício 9 - Crie um dicionário vazio e imrpima na tela
dic = {}
type (dic)

dict

In [10]:
# Exercício 10 - Complelete o trecho de código abaixo criado com Pandas e use a função tail() para ler os últimos elementos
#do dataset.
import pandas as pd
df = pd.read_csv ("/home/fgastardi/binary.csv", sep = ",")
type (df)

pandas.core.frame.DataFrame

In [11]:
df

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  880  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4