In [1]:
# Exercício 1 - Crie uma função que imprima a sequência de números pares entre 1 e 20 (a função não recebe parâmetro) e 
# depois faça uma chamada à função para listar os números
def seq ():
    for i in range (1,21,2):
        print (i)
seq ()

1
3
5
7
9
11
13
15
17
19

In [2]:
# Exercício 2 - Crie uma função que receba uma string como argumento e retorne a mesma string em letras maiúsculas.
# Faça uma chamada à função, passando como parâmetro uma string
def maiuscula (s):
    b = s.upper()
    return b
print (maiuscula ('mochila'))

MOCHILA

In [3]:
# Exercício 3 - Crie uma função que receba como parâmetro uma lista de 4 elementos, adicione 2 elementos a lista e 
# imprima a lista
def lista (B):
    B.append ('ele5')
    B.append ('ele6')
    print (B)
lis = ['ele1', 'ele2', 'ele3', 'ele4']
lista (lis)

['ele1', 'ele2', 'ele3', 'ele4', 'ele5', 'ele6']

In [4]:
# Exercício 4 - Crie uma função que receba um argumento formal e uma possível lista de elementos. Faça duas chamadas à função,
# com apenas 1 elemento e na segunda chamada com 4 elementos
def fun (B, *vartuple):
    print ('O aluno %s tem as seguinte(s) nota(s): ' %B)
    for item in vartuple: 
        print (item )
NO = "Fulano"
N = (3.0, 5.0, 2.5, 7.0)
(fun (NO, N))
print ('\n')
NO1  = "Ciclano"
N1 = (8,0)
(fun (NO1, N1))

O aluno Fulano tem as seguinte(s) nota(s):
(3.0, 5.0, 2.5, 7.0)


O aluno Ciclano tem as seguinte(s) nota(s):
(8, 0)

In [5]:
# Exercício 5 - Crie uma função anônima e atribua seu retorno a uma variável chamada soma. A expressão vai receber 2 
# números como parâmetro e retornar a soma deles
som = lambda x, y: x+y
print (som (3,2))

5

In [6]:
# Exercício 6 - Execute o código abaixo e certifique-se que compreende a diferença entre variável global e local
total = 0; 
def soma( arg1, arg2 ):
    total = arg1 + arg2; 
    print ("Dentro da função o total é : ", total)
    return total;


soma( 10, 20 );
print ("Fora da função o total é : ", total)

('Dentro da fun\xc3\xa7\xc3\xa3o o total \xc3\xa9 : ', 30)
('Fora da fun\xc3\xa7\xc3\xa3o o total \xc3\xa9 : ', 0)

In [7]:
# Exercício 7 - Crie uma função que receba o arquivo abaixo como argumento e retorne um resumo estatístico descritivo 
# do arquivo. Dica, use Pandas e um de seus métodos, describe()
# Arquivo: "binary.csv"
def retornaArq(file_name):
    df = pd.read_csv(file_name)
    return df.describe()

import pandas as pd
file_name = "/home/fgastardi/binary.csv"
retornaArq(file_name)

          admit         gre       gpa      rank
count  5.000000    5.000000  5.000000  5.000000
mean   0.600000  616.000000  3.480000  3.000000
std    0.547723  185.148589  0.421307  1.224745
min    0.000000  380.000000  2.930000  1.000000
25%    0.000000  520.000000  3.190000  3.000000
50%    1.000000  640.000000  3.610000  3.000000
75%    1.000000  660.000000  3.670000  4.000000
max    1.000000  880.000000  4.000000  4.000000